[Unit]
Description=Service to read UDP Packets from PLC and store in timescale DB.
After=network.service auditd.service postgresql.service
[Service]
Type=simple

ExecStart=/bin/plcdatacollector/plcdatacollector
WorkingDirectory=/bin/plcdatacollector

Restart=always
RestartSec=5
RestartPreventExitStatus=255

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target
Alias=plcdatacollector.service

